pytest
#
# add subTest() support for pytest.
# only available for py3.4+
pytest-subtests
mock
unittest2
xdoctest

# used in augimg.augmenters.imgcorrupt
# that library has scikit-image 15+ as a requirement, which does not exist
# in <=3.4, so it is not tested here
imagecorruptions
